@import "../../common/variables.scss";

$radius: 24px;

.becn-usage-indicator {
    width: 135px;

    &__upper-text,
    &__lower-text {
        &__container {
            text-align: center;
        }

        &__label.MuiTypography-body1,
        &__value.MuiTypography-body1 {
            font-family: $fontFamily;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
        }

        &__label.MuiTypography-body1 {
            font-weight: 400;
        }

        &__value.MuiTypography-body1 {
            font-weight: 600;
        }
    }

    &__upper-text {
        display: flex;
        justify-content: space-between;
        margin: 0 0 8px 0;

        &__used-value {
            color: $primary600;
        }

        &__remaining-value {
            color: $secondary700;
        }
    }

    &__lower-text {
        display: flex;
        justify-content: center;
        margin: 8px 0 0;

        &__additional-value {
            color: $green700;
        }
    }

    &__slider {
        position: relative;
        height: 17px;
        width: 100%;
        border-radius: 24px;
        overflow: hidden;
        box-sizing: border-box;

        &__segment {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 24px;
            transition: clip-path 600ms;
        }
    }
}
