@import "../../common/variables.scss";

.bcn-pagination {
    &--container {
        display: flex;
    }

    &--info {
        display: flex;
    }

    &--pagination {
        display: flex;
        align-items: center;
    }

    &--buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--button {
        &.MuiButton-root {
            margin: 0 4px;
        }

        .MuiSvgIcon-root {
            font-size: 16px;
        }
    }

    &--items-per-page {
        display: flex;
        align-items: center;

        .bcn-dropdownlist .MuiSelect-root.MuiSelect-select {
            padding: 8px 32px 8px 12px;
        }
    }

    &--show-label {
        padding-right: 8px;
    }

    &--page-links {
        margin: 0 28px;
    }

    &--page-link.MuiTypography-colorPrimary {
        color: $textInactive;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        cursor: pointer;
        padding: 0 8px;
    }

    &--page-link.MuiLink-underlineHover:hover {
        text-decoration: none;
    }

    &--page-link-active.MuiTypography-colorPrimary {
        color: $textStrong;
        font-weight: 600;
    }

    &--page-link-disabled {
        color: $textInactive;
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }

    @media (max-width:680px) {
        &--buttons,
        &--page-links {
            margin: 16px 0 0;
        }
    }
}
