@import "../../common/variables.scss";

.becn-input {
    &__text-field {

        /* Outlined */

        .MuiOutlinedInput-input {
            color: $textStrong;
            padding: 10.5px 8px;

            &,
            &::placeholder {
                opacity: 1;
                font-family: $fontFamily;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
            }

            &::placeholder {
                color: $textSubtle;
            }

            &.Mui-disabled {
                color: $textInactive;
            }
        }

        .MuiInputLabel-outlined {
            transform: translate(8px, 12px) scale(1);

            &,
            &.Mui-focused {
                color: $textStrong;
            }
    
            &.MuiInputLabel-shrink {
                font-size: 8px;
                line-height: 18px;
                transform: translate(14px, -7px) scale(1);
            }
        }

        .MuiOutlinedInput-notchedOutline {
            padding: 8px;
            border-radius: 4px;
            border: 2px solid #84888C;

            legend {
                font-size: 7.5px;
            }
        }

        .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: 2px solid #84888C;
        }

        .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
            border: 2px solid $borderStrong;
        }

        .MuiOutlinedInput-adornedStart {
            padding-left: 8px;
        }

        .MuiOutlinedInput-adornedEnd {
            padding-right: 8px;
        }

        .MuiInputAdornment-positionStart {
            margin-right: 0;
        }

        .MuiInputAdornment-positionEnd {
            margin-left: 0;
        }
    }
}
