@import "../../common/variables.scss";

.bcn-dropdownlist {

    /* Font */

    font-family: $fontFamily;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: $textStrong;

    &.MuiInputBase-root.Mui-disabled {
        color: $textInactive;
    }

    /* Background & Layout */

    .MuiSelect-root.MuiSelect-select {
        opacity: 1;
        padding: 10.5px 32px 10.5px 8px;
    }

    .MuiSelect-select:focus {
        background-color: transparent;
    }

    &.Mui-disabled .MuiSelect-root.MuiSelect-select {
        padding-right: 8px;
    }

    /* Icon */

    .MuiSelect-icon.MuiSvgIcon-root {
        top: calc(50% - 8px);
        right: 6px;
        font-size: 16px;
        line-height: 24px;
        color: $iconMidContrast;
    }

    &.Mui-disabled .MuiSelect-icon.MuiSvgIcon-root {
        display: none;
    }
    
    /* Label */

    &__label.MuiFormLabel-root {
        &,
        &.Mui-focused {
            color: $textStrong;
        }

        &.MuiInputLabel-outlined {
            transform: translate(8px, 12px) scale(1);
        }

        &.MuiInputLabel-shrink {
            font-size: 8px;
            line-height: 18px;
            transform: translate(14px, -7px) scale(1);
        }
    }

    &__label--disabled.MuiFormLabel-root {
        &,
        &.Mui-focused {
            color: $textInactive;
        }
    }

    /* Border */

    &.MuiOutlinedInput-root {
        .MuiOutlinedInput-notchedOutline {
            border: solid 2px $borderInputColor;

            legend {
                font-size: 7.5px;
            }
        }

        &:hover .MuiOutlinedInput-notchedOutline,
        &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: solid 2px $borderInputColor;
        }

        &.Mui-disabled .MuiOutlinedInput-notchedOutline {
            border: 2px solid $borderStrong;
        }
    }

    /* Radius */

    &--radius-normal.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
        border-radius: $radiusNormal;
    }

    &--radius-sharp.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline  {
        border-radius: $radiusSharp;
    }
}
