@import "../../common/variables.scss";

.becn-text.MuiTypography-body1 {
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    &.becn-text--default {
        color: $textSubtle;
        font-weight: 400;
    }

    &.becn-text--bold {
        color: $textStrong;
        font-weight: 600;
    }

    &.becn-text--caption {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: $textSubtle;
    }
}
