@import "../../common/variables.scss";

.becn-input-number {
    &--container {
        display: inline-flex;
        align-items: center;
        padding: 6px;
        border-radius: $radiusNormal;
        border: 2px solid $borderInputColor;
    }

    &--icon-button.MuiButtonBase-root,
    &--icon-button.MuiButtonBase-root:hover {
        padding: 0;
        background: transparent;
    }

    &--icon.MuiSvgIcon-root {
        font-size: 16px;
        color: $iconMidContrast;
    }

    &--input .MuiInputBase-input {
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        width: 58px;
        padding: 0 8px;
        color: $textStrong;
    }

    &--input.MuiInput-underline:before {
        display: none;
    }

    &--input.MuiInput-underline:after {
        display: none;
    }
}