.document-box {
  width: 2rem;
  height: 2rem;
}
.doc-link {
  display: inline-flex;
}
.no-item-box-border {
  border-bottom: "2px solid #13151A";
}
.MuiAccordion-root {
  border-bottom: 2px solid black;
  margin-bottom: 2;
  border-radius: 4px;
}
