@import "../../common/variables.scss";

.bcn-pill {
    display: inline-flex;
    padding: 4px 12px;
    border-radius: 24px;
    font-family: $fontFamily;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

    &--primary {
        color: $primary600;
        background-color: $primary100;
    }
}