@import "../../common/variables.scss";

.becn-tabs {
    &__container {
        .MuiTabs-flexContainer {
            column-gap: $spacingXxxs;
        }
    }

    &__tabs {
        &.MuiTabs-root {
            width: 100%;
        }

        .MuiTabs-indicator {
            display: none;
        }
    }

    &__tab.MuiTab-root {
        opacity: 1;
        padding: 24px 16px 16px 16px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 8px solid $borderStrong;

        .MuiTab-wrapper {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: center;
            text-transform: none;
            font-family: $fontFamily;
            color: $textSubtle;
        }

        &.Mui-selected {
            border-bottom: 8px solid $borderPrimaryBrand;

            .MuiTab-wrapper {
                color: $textBrandOnWhite;
            }
        }
    }

    @media (min-width: 601px) {
        &__tab.MuiTab-root {
            min-width: 120px;
        }
    }

    @media (max-width: 600px) {
        &__tab.MuiTab-root {
            padding: 0px 16px;
            border: none;
            border-radius: $radiusNormal;
            background: $bgSomeContrast;

            .MuiTab-wrapper {
                color: $textSubtle;
            }

            &.Mui-selected {
                border: none;
                background: $bgPrimary;

                .MuiTab-wrapper {
                    color: $textOnColor;
                }
            }
        }
    }
}