$font-family: Proxima Nova, arial, sans-serif;
$header-font-size: 1.125rem;
$font-size-normal: 0.75rem;

.item-list-card-container {
  .item-list-card {
    border-radius: 4px;
    background: #eeeff0;
    padding: 8px;
    border: 1px solid #bfc3c7;
    gap: 8px;
  }

  .category-heading {
    color: var(--Text-text-strong, #16191c);
    /* Subheading/Desktop/Semibold */
    font-family: $font-family;
    font-size: $header-font-size;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 140% */
  }
  .item-product {
    color: var(--Beacon-Black, #3b3e41);
    font-family: $font-family;
    font-size: $font-size-normal;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    width: 90%;
    display: inline-block;
  }

  @media only screen and (max-width: 1020px) {
    .item-product {
      width: 80%;
    }
  }

  .MuiTextField-root.item-quantity-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 4rem;
    height: auto;
    text-align: center;
    margin: auto;
  }
  .item-quantity-field {
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
      border-radius: 0px;
    }
    fieldset {
      border: 1px solid #84888c;
    }
    .Mui-focused fieldset {
      border: 1px solid #84888c;
    }
    .MuiInputBase-input {
      text-align: center;
      cursor: pointer;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .MuiGrid-item.unit-price-grid {
    margin: auto 2%;
  }
  .bottom-action-button {
    flex-direction: row-reverse;
    margin-bottom: 2%;
  }

  .edit-btn-card {
    color: var(--Text-text-brandonwhite, #025f9e);
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
    text-transform: capitalize;
  }
}
.MuiPaper-root.item-list-card-container.MuiPaper-elevation1 {
  box-shadow: none;
}

.item-list-delete-product-icon {
  height: 1.125rem !important;
  width: 1.125rem !important;
  margin-left: 0.75rem;
  cursor: pointer;
}
.item-qty-grid {
  margin-top: 0.5rem;
}
