@import "../../common/variables.scss";

.bcn-button {
    &.MuiButton-root {
        padding: 16px;
        text-align: center;
        text-transform: none;
        min-width: auto;
        border-radius: $radiusNormal;
    }

    &.MuiButton-sizeSmall {
        padding: 10px 8px;
    }

    &.MuiButton-contained {
        box-shadow: none;

        &:hover {
            box-shadow: none;
        }
    }

    &--primary.MuiButton-contained {
        color: $textOnColor;

        &,
        &:hover {
            background-color: $buttonPrimaryColor;
        }
    }

    &--primary.MuiButton-outlined {
        padding: 14px; // Reduce padding due to border
        border: 2px solid #025F9E;
        color: $textBrandOnWhite;

        &,
        &:hover {
            background-color: $buttonSecondaryColor;
        }
    }

    .MuiButton-label {
        font-family: $fontFamily;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
    }
}
