.popup {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 1rem;
  max-height: 90%;
  width: 33.25rem;
  background: white;
  border-radius: 4px;
  opacity: 1;
  // margin: 1.5rem 1.5rem 1.5rem 1.5rem !important;
}

@media (min-width: 381px) and (max-width: 600px) {
  .popup {
    width: 85dvw;
    max-height: 100%;
    top: 37.8dvh;
    left: 49.6%;
    transform: translate(-56%, -40%);
    margin: 1.5rem 1.5rem 1.5rem 1.5rem !important;
  }
}

@media (max-width: 380px) {
  .popup {
    width: 82.5dvw;
    max-height: 100%;
    top: 28dvh;
    left: 48.8%;
    transform: translate(-56%, -30%);
    margin: 1.5rem 1.5rem 1.5rem 1.5rem !important;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .popup {
    width: 33.25rem;
    max-height: 100%;
  }
}
