.MuiButton-root.printStyle {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 0.938rem;
  color: inherit;
  text-transform: none;

  line-height: 34px;
}
@media print {
  button {
    display: none !important;
  }
}

.MuiBox-root.quote-details {
  margin-bottom: "0.625rem";
  line-height: 0.75rem;
  display: flex;
}

.MuiGrid-root.close {
  text-align: right;
  margin-right: 0.5rem;
}

.MuiDialogTitle-root.title {
  padding-right: 0;
}
