@import "../../common/variables.scss";

.becn-heading {

    // Mobile

    &.MuiTypography-h1,
    &.MuiTypography-h2 {
        font-family: $fontFamilyTnWebUseOnly;
        text-align: left;
        text-transform: none;
    }

    &.MuiTypography-h3,
    &.MuiTypography-h4,
    &.MuiTypography-h5,
    &.MuiTypography-h6 {
        font-family: $fontFamily;
        text-align: left;
        text-transform: none;
    }

    &.becn-heading--h1 {
        font-size: 34px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 0em;
    }

    &.becn-heading--h2 {
        font-size: 28px;
        line-height: 32px;
        font-weight: 700;
        letter-spacing: 0em;
    }

    &.becn-heading--h3 {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0em;
    }

    &.becn-heading--default {
        color: $textStrong;
    }

    &.becn-heading--brandOnWhite {
        color: $textBrandOnWhite;
    }

    &.becn-heading--subtle {
        color: $textSubtle;
    }

    // Desktop

    @media (min-width: 601px) {
        &.becn-heading--h1 {
            font-size: 48px;
            line-height: 60px;
        }
    
        &.becn-heading--h2 {
            font-size: 32px;
            line-height: 40px;
        }
    
        &.becn-heading--h3 {
            font-size: 24px;
            line-height: 28px;   
        }
    }
}
