@import "../../common/variables.scss";

.becn-subheading {

    // Mobile

    &.MuiTypography-body1 {
        font-family: $fontFamily;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
    }

    &--default {
        color: $textStrong;
    }

    &--brandOnWhite {
        color: $textBrandOnWhite;
    }

    // Desktop

    @media (min-width: 601px) {
        &.MuiTypography-body1 {
            font-size: 20px;
            line-height: 28px;
        }
    }
}
