.date-picker-container {
  .background-date {
    border: none;
    outline: none;
    background: transparent;
  }
  input[type='date']:required:invalid::-webkit-datetime-edit {
    display: none;
  }
  input[type='date']::-webkit-datetime-edit {
    display: none;
  }
}
