@import "../../common/variables.scss";

.becn-well {
    // Mobile
    &--default {
        padding: $spacingXxs;
        background: $bgBase;
        border-radius: $radiusNormal;
        border: 1px solid $borderStrong;
        box-shadow: 0px 10px 15px -3px #1018281A;
    }

    &--contrast {
        padding: $spacingSm;
        background: $bgSomeContrast;
        border-radius: $radiusNormal;
        border: 1px solid $borderStrong;
    }

    &--subtle {
        padding: $spacingXxs;
        background: $bgBase;
        border-radius: $radiusNormal;
        border: 1px solid #EEEFF0;
    }

    // Desktop
    @media (min-width: 601px) {
        &--default {
            padding: $spacingSm;
        }
    }
}
