.main-dialog-container {
  .header-box {
    text-transform: capitalize;
    padding: 0;
  }
  .MuiDialogActions-root {
    padding: 16px;
    padding-top: 0;
  }
  .MuiTypography-root {
    text-transform: capitalize;
  }
}
