@import "../../common/variables.scss";

$mobileThumbnailSize: 110px;
$desktopThumbnailSize: 80px;

.becn-product-image {

    // Mobile

    position: relative;

    &--thumbnail {
        width: $mobileThumbnailSize;
        height: $mobileThumbnailSize;

        img {
            width: $mobileThumbnailSize;
            height: $mobileThumbnailSize;
        }
    }

    img {
        border-radius: $radiusRounded;
    }

    &--favorite-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    &--favorite-button.MuiButtonBase-root,
    &--favorite-button.MuiButtonBase-root:hover {
        width: 40px;
        height: 40px;
        padding: $spacingXxxs;
        border-radius: 24px;
        background: $bgBase;
    }

    &--favorite-icon.MuiSvgIcon-root {
        color: $iconBrand;
        font-size: 32px;
    }

    // Desktop

    @media (min-width: 601px) {
        &--thumbnail {
            width: $desktopThumbnailSize;
            height: $desktopThumbnailSize;
    
            img {
                width: $desktopThumbnailSize;
                height: $desktopThumbnailSize;
            }
        }

        &--favorite-button.MuiButtonBase-root,
        &--favorite-button.MuiButtonBase-root:hover {
            width: 24px;
            height: 24px;
            border-radius: 14px;
        }

        &--favorite-icon.MuiSvgIcon-root {
            font-size: 16px;
        }
    }
}
