$background-color: #025f9e;
$font-family: Proxima Nova, arial, sans-serif;
$font-size: 1rem;

.MuiButtonBase-root.download-in {
  width: fit-content;
  text-transform: none;
  background: $background-color;
  font-family: $font-family;
  font-size: $font-size;
  color: #fafafa;
}

.MuiButtonBase-root.download-out {
  width: fit-content;
  padding: 1rem;
  height: 3rem;
  text-transform: none;
  color: $background-color;
  border: 2px solid $background-color;
  font-family: $font-family;
  font-size: $font-size;
}

.MuiButtonBase-root.download-in:hover {
  background: $background-color;
}
.download-form label {
  font-family: $font-family;
  font-weight: 400;
}

.MuiButtonBase-root.download-out:hover {
  border: 2px solid $background-color;
  background-color: transparent;
}

.download-icon {
  font-size: small;
  margin-left: 0.5rem;
  font-size: 14px;
}

.MuiList-root.MuiMenu-list.MuiList-padding {
  padding: 0px;
}
.MuiFormGroup-root {
  margin-top: 0.5rem;
}

.MuiButtonBase-root.MuiCheckbox-colorSecondary.Mui-checked {
  color: $background-color;
}

.MuiSelect-root.MuiInput-input {
  padding: 5px 15px 5px 15px;
}

.MuiSelect-selectMenu {
  font-family: $font-family;
  border: 1px solid #BFC3C7;
  border-radius: 4px;
  .MuiSelect-selectMenu:focus {
    background-color: #fafafa;
    border: 1px solid #BFC3C7;
    border-radius: 4px;
  }
}

.MuiFormControl-root.download-form {
  margin: 1rem;
  min-width: 9.375rem;
}

.MuiFormGroup-root.download-form-with-price {
  margin-top: 0.5rem;
}

.MuiFormGroup-root.download-form-without-price {
  margin-top: 1rem;
}
@media (min-width: 280px) and (max-width: 500px) {
  .MuiButtonBase-root.download-in {
    width: 100%;
  }
  .MuiButtonBase-root.download-out {
    width: 100%;
  }
}
