:root {
  /* Add your CSS variables here */
  --background: #fff;
  --font-color: #494949;

  --beacon-black: #131111;
  --beacon-white: #e0e0e0;
  --beacon-red: #ff2323;
  --beacon-green: #005f20;
  --beacon-blue: #070bce;
  --heading-font-size: 40px;

  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c3c3c;
    --font-color: #fafafa;
  }
}

