// Border Variables
$borderInputColor: #84888C;
$borderStrong: #BFC3C7;
$borderPrimaryBrand: #025F9E;

// Radius Variables
$radiusNormal: 4px;
$radiusSharp: 2px;
$radiusRounded: 24px;

// Spacing Variables
$spacingSm: 16px;
$spacingMd: 24px;
$spacingXxs: 8px;
$spacingXxxs: 4px;

// Background Variables
$bgBase: #FAFAFA;
$bgSomeContrast: #EEEFF0;
$bgPrimary: #025F9E;

// Font Variables
$fontFamily: Proxima Nova, arial, sans-serif;
$fontFamilyTnWebUseOnly: 'titling-gothic-fb-compressed-bold', 'arial', sans-serif;

// Text Variables
$textStrong: #16191C;
$textBrandOnWhite: #025F9E;
$textSubtle: #3B3E41;
$textOnColor: #FAFAFA;
$textInactive: #84888C;

// Icon Variables
$iconBrand: #025F9E;
$iconTextPadding: 8px;
$iconMidContrast: #3B3E41;

// Color Variables
$beaconGray: #5F6369;
$primary100: #AECAEA;
$primary600: #1F4B8F;
$secondary700: #BD7604;
$green700: #047252;

// Button Variables
$buttonPrimaryColor: #025F9E;
$buttonSecondaryColor: #FAFAFA;
