.image-container {
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #eeeff0;
}
.product-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 24px;
  background: lightgray 50% / cover no-repeat;
}
.fab-icon-container {
  display: flex;
  position: absolute;
  height: 2.5rem;
  color: #025f9e;
  background: #fafafa;
  width: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin: 2.125rem 6px 6px 2.125rem;
  cursor: pointer;
}
.fab-icon-filled {
  color: #025f9e;
}
.fab-icon-outline {
  color: #025f9e;
}
