.add-button {
  font-family:
    Proxima Nova,
    arial,
    sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  text-align: center !important;
  line-height: 1rem !important;
  text-transform: capitalize !important;
  padding: 16px 24px 16px 20px !important;
  color: #fff !important;
  background-color: #025f9e !important;
  letter-spacing: 0.02857em !important;
  border: 2px solid #025f9e !important;
  border-radius: 0.25rem !important;
}

.item-name-layout label {
  font-family:
    Proxima Nova,
    arial,
    sans-serif !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.063rem;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #5f6369;
  transform: none;
  transition: none;
  -webkit-transform: none;
  -webkit-transition: none;
}

.quantity-layout label {
  transform: none;
  transition: none;
  -webkit-transform: none;
  -webkit-transition: none;
  font-family:
    Proxima Nova,
    arial,
    sans-serif !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.063rem;
  letter-spacing: 0.15000000596046448px;
  text-align: left;
  color: #5f6369;
}
.hide {
  display: none !important;
}

.action-delete {
  border: none !important;
  background: none !important;
  cursor: pointer;
  height: 1.25rem;
  padding: 0;
  margin-top: 0.57rem !important;
  margin-left: 5px;
  border-radius: 0.25rem;
  color: #285d99 !important;
}

.action-delete:hover {
  background: none !important;
}

.action-delete-wa:hover {
  background: none !important;
}
.action-delete-wa {
  border: none;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0;
  margin-top: 2.263rem !important;
  margin-left: 3px;
  border-radius: 0.25rem;
  color: #285d99 !important;
  cursor: pointer;
  background: none;
}
.feild-wrapper-container {
  display: flex;
}
.popOverText {
  color: #f87171;
  font-family:
    Proxima Nova,
    arial,
    sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.063rem !important;
  letter-spacing: 0.15000000596046448px !important;
  padding: 0.5rem !important;
  width: 15rem;
  text-align: center !important;
}

.validation-feilds {
  font-family:
    Proxima Nova,
    arial,
    sans-serif !important;
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #ea3223;
  overflow: hidden;
}

.action-text {
  font-family:
    Proxima Nova,
    arial,
    sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.15000000596046448px;
  padding: 0;
  margin: 0;
  color: #5f6369 !important;
  text-align: center;
  margin-top: 5px !important;
}

.title-section {
  margin-top: 1rem !important;
}

.add-row-container {
  width: 100%;
}

.btn-tab-container {
  display: grid;
  float: right;
  margin-right: 3.125rem;
}
.add-row-layout {
  width: 26.75rem;
  display: flex;
  margin-top: 1.563rem;
}

.item-name-layout {
  width: 12.875rem;
}
.quantity-layout {
  width: 12.875rem;
  margin-left: 1.25rem !important;
}

.quantity {
  margin-left: 1.25rem !important;
}
.popup {
  .add-custom-item-btn {
    margin: 1.563rem 0 1.563rem 3.1rem;
    float: right;
    font-family:
      Proxima Nova,
      arial,
      sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: capitalize;
    padding: 10px 12px;
    gap: 10px;
    border: 2px solid #025f9e;
    background: #fafafa;
    color: #025f9e;
    width: fit-content;
  }

  .cancel-btn-default {
    color: #025f9e;
    border: none;
    font-family:
      Proxima Nova,
      arial,
      sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: capitalize;
    gap: 10px;
    padding: 10px 8px;
    background-color: unset;

    label {
      border-bottom: 1px solid #025f9e;
      border-radius: unset;
      color: #025f9e;
      padding: 0 4px;
      cursor: pointer;
    }
  }
  .add-to-quote-btn {
    margin-left: 0.938rem !important;
    background-color: #285d99;
    color: #fff;
    border: 2px solid #025f9e;
    font-family:
      Proxima Nova,
      arial,
      sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: capitalize;
    padding: 10px 12px 10px 12px;
    gap: 10px;
  }
  .add-to-quote-btn:hover {
    background-color: #285d99;
    color: #fff;
    border: 2px solid #025f9e;
  }
}
.close-icon {
  margin-right: 1rem !important;
  color: '#000000';
  float: right;
}

.add-custom-item-heading {
  font-family:
    Proxima Nova,
    arial,
    sans-serif !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  line-height: 1.75rem !important;
  letter-spacing: 0em;
}
.btn-duo-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
}
.content-section {
  overflow-y: auto;
  flex: 1 1 auto;
  max-height: 80dvh;
}

.pop-over-container {
  margin-left: -1.5rem;
}
@media (max-width: 380px) {
  .add-button {
    width: 100% !important;
  }
  .content-section {
    max-height: 87dvh;
  }
  .item-name-layout {
    width: max-content;
    width: 80%;
  }
  .add-row-layout {
    display: grid;
    width: 100%;
  }
  .quantity-layout {
    width: 80%;
    margin-left: 0 !important;
  }
  .quantity {
    margin: 0 !important;
  }
  .btn-tab-container {
    margin: 0;
    width: 100%;
  }
  .btn-duo-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .pop-over-container {
    margin-left: 2rem;
    margin-top: -0.85rem;
    text-align: center;
    width: 90dvw;
  }
  .popup {
    .add-custom-item-btn {
      width: 95% !important;
      margin: 1.563rem 0 0.938rem 0 !important;
    }
    .add-to-quote-btn {
      width: 95%;
      margin-left: 0 !important;
      margin-bottom: 0.938rem !important;
    }
  }
  .popOverText {
    width: 75dvw;
  }
}

@media (min-width: 381px) and (max-width: 480px) {
  .item-name-layout {
    width: max-content;
    width: 80%;
  }
  .popOverText {
    width: 78dvw;
  }
  .add-button {
    width: 100% !important;
  }

  .content-section {
    max-height: 90dvh;
  }
  .add-row-layout {
    display: grid;
  }

  .quantity-layout {
    width: 80%;
    margin-left: 0 !important;
  }
  .quantity {
    margin: 0 !important;
  }
  .btn-tab-container {
    margin: 0;
    width: 100%;
  }
  .btn-duo-container {
    flex-direction: column-reverse;
    width: 100%;
  }
  .pop-over-container {
    margin-left: 2rem;
    margin-top: -1rem;
    text-align: center;
    width: 87dvw;
  }
  .popup {
    .add-custom-item-btn {
      width: 95% !important;
      margin: 1.563rem 0 0.938rem 0 !important;
    }
    .add-to-quote-btn {
      width: 95%;
      margin-left: 0 !important;
      margin-bottom: 0.938rem !important;
    }
    .add-row-layout {
      width: 100%;
    }
  }
}
