@import "../../common/variables.scss";

.MuiTypography-colorPrimary {
    &.bcn-link {
        font-family: $fontFamily;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0em;
    
        &--default {
            font-weight: 400;
        }
    
        &--bold {
            font-weight: 600;
        }
    
        &--primary {
            color: $textBrandOnWhite;
        }
    }
}
